.equipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  padding: 150px 20px 60px;
  background-color: #14224D;
 
}

.boxbut {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Espaço entre os botões */
  background-color: transparent;
  border-radius: 30px; /* Bordas arredondadas */
  margin-bottom: 50px;  
}

.buttonequipe {
  width: 350px; /* Largura dos botões */
  height: 50px; /* Altura dos botões */
  background-color: transparent;
  border-radius: 30px;
  flex-direction: row;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Espaço entre os botões */ position: relative;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}

.nome {
  background-color: #f9f9f9;
  border: 2px solid #01913D;
  padding: 20px;
  margin-left:10px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Largura dos botões */
  height: 50px
  font-size: 65px;
  font-family: 'Poppins', sans-serif;
  font-weight: medium;
  color:#01913D;
}

.nome cargo{
  margin:10px;
  font-size: 20px;
}


.fotoperfil{
  width: 200px;
  margin: -20px auto;
}
.iconemail{
  width: 30px; /* Ajuste conforme necessário */
  height: auto;
  position: absolute; 
  left: 10px; 

  
}
.buttonM {
  width: 350px; /* Largura dos botões */
  height: 50px; /* Altura dos botões */
  background-color: transparent;
  border-radius: 30px;
  flex-direction: row;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Espaço entre os botões */ position: relative;
  border: 2px solid white;
  color: white;
  text-decoration: none;
}